In [2]:
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [3]:
dat = pd.read_csv("train_test_set2.csv")
dat

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,...,NORM_SUM,LOG_SUM,NORM_MEAN,LOG_MEAN,MIN_MAX_LOG_SUM,MIN_MAX_LOG_MEAN,MIN_MAX_NORM_SUM,MIN_MAX_NORM_MEAN,MIN_MAX_SUM,MIN_MAX_MEAN
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,9.366667,6.442410,0.585417,0.402651,8.213537,0.513346,13.338095,0.833631,0.633333,0.633333
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,8.516667,6.015821,0.567778,0.401055,7.875889,0.525059,12.573810,0.838254,0.483333,0.483333
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,...,1.533333,2.620519,0.051111,0.087351,10.459093,0.348636,19.719048,0.657302,-1.533333,-1.533333
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,...,-1.966667,-1.731676,-0.393333,-0.346335,3.036080,0.607216,3.861905,0.772381,-0.033333,-0.033333
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,...,0.000000,0.000000,0.000000,0.000000,0.918068,0.183614,2.571429,0.514286,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36452,5150482,F,Y,Y,1,157500.0,Working,Secondary / secondary special,Married,House / apartment,...,-2.850000,-0.687990,-0.158333,-0.038222,4.076842,0.226491,10.007143,0.555952,-3.150000,-3.150000
36453,5150483,F,Y,Y,1,157500.0,Working,Secondary / secondary special,Married,House / apartment,...,0.000000,0.000000,0.000000,0.000000,7.809258,0.433848,13.242857,0.735714,0.000000,0.000000
36454,5150484,F,Y,Y,1,157500.0,Working,Secondary / secondary special,Married,House / apartment,...,-9.700000,-5.491874,-0.746154,-0.422452,5.637053,0.433619,8.642857,0.664835,-1.300000,-1.300000
36455,5150485,F,Y,Y,1,157500.0,Working,Secondary / secondary special,Married,House / apartment,...,-1.983333,-1.830706,-0.991667,-0.915353,1.307647,0.653824,1.416667,0.708333,-0.016667,-0.016667
36456,5150487,M,Y,N,0,202500.0,Working,Secondary / secondary special,Married,House / apartment,...,22.750000,11.765522,0.758333,0.392184,11.765522,0.392184,22.750000,0.758333,7.250000,7.250000

In [4]:
dat.describe()

,ID,CNT_CHILDREN,AMT_INCOME_TOTAL,DAYS_BIRTH,DAYS_EMPLOYED,CNT_FAM_MEMBERS,AGE,NORM_SUM,LOG_SUM,NORM_MEAN,LOG_MEAN,MIN_MAX_LOG_SUM,MIN_MAX_LOG_MEAN,MIN_MAX_NORM_SUM,MIN_MAX_NORM_MEAN,MIN_MAX_SUM,MIN_MAX_MEAN
count,3.645700e+04,36457.000000,3.645700e+04,36457.000000,36457.000000,36457.000000,36457.000000,36457.000000,36457.000000,36457.000000,36457.000000,36457.000000,36457.000000,36457.000000,36457.000000,36457.000000,36457.000000
mean,5.078227e+06,0.430315,1.866857e+05,-15975.173382,59262.935568,2.198453,43.767598,0.967778,0.725175,-0.139444,-0.083019,6.446589,0.349238,12.519098,0.608679,-0.759066,-0.759066
std,4.187524e+04,0.742367,1.017892e+05,4200.549944,137651.334859,0.911686,11.508356,12.268308,6.476973,0.535796,0.352065,4.060390,0.166806,8.465632,0.164225,5.805334,5.805334
min,5.008804e+06,0.000000,2.700000e+04,-25152.000000,-15713.000000,1.000000,20.517808,-175.333333,-81.836797,-4.762500,-3.222740,-0.003460,-0.002884,0.000000,0.000000,-120.666667,-120.666667
25%,5.042028e+06,0.000000,1.215000e+05,-19438.000000,-3153.000000,2.000000,34.142466,-5.750000,-3.092237,-0.580556,-0.290258,2.879076,0.234951,5.221429,0.527847,-2.150000,-2.150000
50%,5.074614e+06,0.000000,1.575000e+05,-15563.000000,-1552.000000,2.000000,42.638356,-0.500000,0.000000,-0.041228,0.000000,6.047942,0.342955,10.933333,0.647024,-0.350000,-0.350000
75%,5.115396e+06,1.000000,2.250000e+05,-12462.000000,-408.000000,3.000000,53.254795,7.416667,4.917820,0.333750,0.204587,9.861251,0.464061,19.140476,0.714286,0.016667,0.016667
max,5.150487e+06,19.000000,1.575000e+06,-7489.000000,365243.000000,20.000000,68.909589,30.483333,13.929580,1.000000,1.000000,13.929580,1.000000,30.497619,1.000000,28.516667,28.516667

In [5]:
res = smf.ols("NORM_SUM ~ DAYS_EMPLOYED", dat).fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               NORM_SUM   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     1.611
Date:                Tue, 06 Oct 2020   Prob (F-statistic):              0.204
Time:                        23:03:16   Log-Likelihood:            -1.4313e+05
No. Observations:               36457   AIC:                         2.863e+05
Df Residuals:                   36455   BIC:                         2.863e+05
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         0.9327      0.070     13.332      0.000       0.796       1.070
DAYS_EMPLOYED  5.925e-07   4.67e-07      1.269      0.204   -3.22e-07    1.51e-06
==============================================================================
Omnibus:                     9526.477   Durbin-Watson:                   1.597
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           211180.488
Skew:                          -0.730   Prob(JB):                         0.00
Kurtosis:                      14.700   Cond. No.                     1.63e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.63e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [49]:
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor, export_text
from sklearn.model_selection import train_test_split
import numpy as np

In [27]:
predictors = [
    "CODE_GENDER",
    "FLAG_OWN_CAR",
    "FLAG_OWN_REALTY",
    "CNT_CHILDREN",
    "AMT_INCOME_TOTAL",
    "NAME_INCOME_TYPE",
    "NAME_EDUCATION_TYPE",
    "NAME_FAMILY_STATUS",
    "NAME_HOUSING_TYPE",
    "DAYS_BIRTH",
    "DAYS_EMPLOYED",
    "FLAG_MOBIL",
    "FLAG_WORK_PHONE",
    "FLAG_PHONE",
    "FLAG_EMAIL",
    "OCCUPATION_TYPE",
    "CNT_FAM_MEMBERS",
    "AGE"
]

In [28]:
train, test = train_test_split(dat, )
train

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,...,NORM_SUM,LOG_SUM,NORM_MEAN,LOG_MEAN,MIN_MAX_LOG_SUM,MIN_MAX_LOG_MEAN,MIN_MAX_NORM_SUM,MIN_MAX_NORM_MEAN,MIN_MAX_SUM,MIN_MAX_MEAN
2721,5022250,F,N,Y,0,202500.0,Working,Secondary / secondary special,Married,House / apartment,...,22.233333,11.596228,0.741111,0.386541,11.741337,0.391378,22.676190,0.755873,6.766667,6.766667
28945,5117444,M,Y,N,0,180000.0,Working,Secondary / secondary special,Married,House / apartment,...,-2.000000,-0.440345,-0.083333,-0.018348,1.058318,0.044097,4.000000,0.166667,-14.000000,-14.000000
9231,5042198,F,N,N,0,67500.0,Working,Secondary / secondary special,Married,House / apartment,...,-9.383333,-6.703996,-1.042593,-0.744888,4.076535,0.452948,5.859524,0.651058,-0.616667,-0.616667
20990,5090617,M,Y,Y,2,157500.0,Working,Secondary / secondary special,Married,House / apartment,...,-6.650000,-4.917820,-0.950000,-0.702546,3.512729,0.501818,4.750000,0.678571,-0.350000,-0.350000
4068,5024021,F,N,Y,0,135000.0,Pensioner,Secondary / secondary special,Single / not married,House / apartment,...,4.300000,2.246431,0.215000,0.112322,4.996302,0.249815,12.185714,0.609286,-0.300000,-0.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18248,5074667,F,Y,Y,0,157500.0,Commercial associate,Incomplete higher,Married,House / apartment,...,-2.950000,-2.562382,-0.983333,-0.854127,1.830273,0.610091,2.107143,0.702381,-0.050000,-0.050000
1549,5010747,M,Y,Y,0,157500.0,Working,Secondary / secondary special,Married,House / apartment,...,0.000000,0.000000,0.000000,0.000000,4.072707,0.290908,9.100000,0.650000,0.000000,0.000000
34047,5143222,F,N,Y,0,67500.0,Pensioner,Lower secondary,Single / not married,House / apartment,...,19.950000,9.020361,0.399000,0.180407,10.410998,0.208220,25.350000,0.507000,2.050000,2.050000
12568,5053488,F,N,Y,0,90000.0,Pensioner,Secondary / secondary special,Single / not married,House / apartment,...,0.816667,1.988328,0.058333,0.142023,7.010315,0.500737,10.816667,0.772619,-0.816667,-0.816667
34437,5145747,F,Y,Y,0,135000.0,Working,Higher education,Married,House / apartment,...,12.666667,4.156247,0.408602,0.134072,4.317380,0.139270,13.323810,0.429800,14.333333,14.333333

In [29]:
X = pd.get_dummies(train[predictors])
y = train.MIN_MAX_LOG_MEAN

dtreg = DecisionTreeRegressor()
dtreg.fit(X, y)
np.sqrt(((dtreg.predict(pd.get_dummies(test[predictors])) - test.MIN_MAX_LOG_MEAN)**2).mean())

0.18618484957162032

In [30]:
test.MIN_MAX_LOG_MEAN.describe()

count    9115.000000
mean        0.347729
std         0.167480
min         0.001759
25%         0.232041
50%         0.340091
75%         0.462678
max         1.000000
Name: MIN_MAX_LOG_MEAN, dtype: float64

In [31]:
X = pd.get_dummies(train[predictors])
y = train.MIN_MAX_LOG_SUM

dtreg = DecisionTreeRegressor()
dtreg.fit(X, y)
np.sqrt(((dtreg.predict(pd.get_dummies(test[predictors])) - test.MIN_MAX_LOG_SUM)**2).mean())

4.097908645459398

In [32]:
test.MIN_MAX_LOG_SUM.describe()

count    9115.000000
mean        6.428141
std         4.059706
min         0.003519
25%         2.885760
50%         6.022517
75%         9.815681
max        13.926041
Name: MIN_MAX_LOG_SUM, dtype: float64

In [33]:
X = pd.get_dummies(train[predictors])
y = train.NORM_SUM

dtreg = DecisionTreeRegressor()
dtreg.fit(X, y)
np.sqrt(((dtreg.predict(pd.get_dummies(test[predictors])) - test.NORM_SUM)**2).mean())

13.08336887520402

In [34]:
test.NORM_SUM.describe()

count    9115.000000
mean        0.872761
std        12.172798
min      -170.583333
25%        -5.750000
50%        -0.516667
75%         7.166667
max        30.400000
Name: NORM_SUM, dtype: float64

In [35]:
X = pd.get_dummies(train[predictors])
y = train.NORM_MEAN

dtreg = DecisionTreeRegressor()
dtreg.fit(X, y)
np.sqrt(((dtreg.predict(pd.get_dummies(test[predictors])) - test.NORM_MEAN)**2).mean())

0.5588876288443297

In [36]:
test.NORM_MEAN.describe()

count    9115.000000
mean       -0.143222
std         0.534278
min        -4.479167
25%        -0.585657
50%        -0.044074
75%         0.320711
max         1.000000
Name: NORM_MEAN, dtype: float64

In [50]:
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor

In [38]:
X = pd.get_dummies(train[predictors])
y = train.MIN_MAX_LOG_MEAN

rf = RandomForestRegressor()
rf.fit(X, y)
np.sqrt(((rf.predict(pd.get_dummies(test[predictors])) - test.MIN_MAX_LOG_MEAN)**2).mean())

RandomForestRegressor()

In [40]:
X = pd.get_dummies(train[predictors])
y = train.MIN_MAX_LOG_SUM

rf = RandomForestRegressor()
rf.fit(X, y)
np.sqrt(((rf.predict(pd.get_dummies(test[predictors])) - test.MIN_MAX_LOG_SUM)**2).mean())

3.790464008771871

In [42]:
test.MIN_MAX_LOG_SUM.describe()

count    9115.000000
mean        6.428141
std         4.059706
min         0.003519
25%         2.885760
50%         6.022517
75%         9.815681
max        13.926041
Name: MIN_MAX_LOG_SUM, dtype: float64

In [44]:
X = pd.get_dummies(train[predictors])
y = train.MIN_MAX_NORM_MEAN * 100

rf = RandomForestRegressor()
rf.fit(X, y)
np.sqrt(((rf.predict(pd.get_dummies(test[predictors])) - test.MIN_MAX_LOG_MEAN * 100)**2).mean())

31.424529648358618

In [47]:
(test.NORM_MEAN).describe()

count    9115.000000
mean       -0.143222
std         0.534278
min        -4.479167
25%        -0.585657
50%        -0.044074
75%         0.320711
max         1.000000
Name: NORM_MEAN, dtype: float64

In [72]:
def bin_score(x):
    if x > 0 :
        return "good"
    else:
        return "bad"

dat["CAT_SCORE"] = dat.NORM_MEAN.map(bin_score)

In [73]:
dat["CAT_SCORE"].value_counts()

bad     22294
good    14163
Name: CAT_SCORE, dtype: int64

In [74]:
train, test = train_test_split(dat)
X = pd.get_dummies(train[predictors])
y = train.CAT_SCORE

rf = RandomForestClassifier(criterion="entropy")
rf.fit(X, y)
(rf.predict(pd.get_dummies(test[predictors])) == test.CAT_SCORE).mean()

0.6744925946242457

In [75]:
22294/(22294+14163)

0.6115149354033519

In [1]:

import pandas as pd
from decision_tree import DecisionTreeClassifier
iris = pd.read_csv("iris.txt", header=None)
iris_tree = DecisionTreeClassifier(5, 0.95).fit(iris.iloc[:, :-1], iris.iloc[:, -1])

2 2.45
Iris-setosa 50 1.0
3 1.75
2 4.95
Iris-versicolor 48 0.9791666666666666
3 1.55
Iris-virginica 3 1.0
Iris-versicolor 3 0.6666666666666666
Iris-virginica 46 0.9782608695652174

In [2]:
(iris_tree.predict(iris.iloc[:,:-1]) == iris.iloc[:, -1]).mean()

0.98

In [3]:
mush = pd.read_csv("mushrooms.csv")
mush_tree = DecisionTreeClassifier(5, 0.95).fit(
    mush.iloc[:, 1:], mush["class"]
)

odor n
e 3528 0.9659863945578231
bruises t
stalk-root c
e 512 1.0
stalk-root r
e 192 1.0
gill-spacing c
p 544 1.0
e 96 1.0
p 3252 1.0

In [5]:
(mush_tree.predict(mush.iloc[:, 1:]) == mush["class"]).mean()

0.9852289512555391