In [11]:
import pandas as pd
from credit_decision_tree import DecisionTree

In [4]:
train_no_zeros = pd.read_pickle("model_evaluation/train.pkl")
train_no_zeros.drop(train_no_zeros[train_no_zeros["STATUS"] == 0].index, inplace=True)
train_no_zeros

,Unnamed: 0,ID,MONTHS_BALANCE,STATUS,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,...,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
724670,724670,5143180,-1,1,M,Y,N,0,225000.0,Commercial associate,...,Single / not married,House / apartment,-17473,-2631,1,0,0,0,Managers,1.0
587357,587357,5115801,-23,-1,F,N,Y,0,202500.0,Working,...,Single / not married,House / apartment,-10752,-590,1,1,0,0,NaN,1.0
587361,587361,5115801,-27,-1,F,N,Y,0,202500.0,Working,...,Single / not married,House / apartment,-10752,-590,1,1,0,0,NaN,1.0
587393,587393,5115803,-43,-1,F,N,Y,0,202500.0,Working,...,Single / not married,House / apartment,-10752,-590,1,1,0,0,NaN,1.0
587432,587432,5115805,-38,-1,F,N,Y,0,202500.0,Working,...,Single / not married,House / apartment,-10752,-590,1,1,0,0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523726,523726,5105054,-4,-1,F,N,Y,19,112500.0,Working,...,Single / not married,House / apartment,-11057,-1853,1,1,1,0,Waiters/barmen staff,20.0
523724,523724,5105054,-2,-1,F,N,Y,19,112500.0,Working,...,Single / not married,House / apartment,-11057,-1853,1,1,1,0,Waiters/barmen staff,20.0
523725,523725,5105054,-3,-1,F,N,Y,19,112500.0,Working,...,Single / not married,House / apartment,-11057,-1853,1,1,1,0,Waiters/barmen staff,20.0
523727,523727,5105054,-5,-1,F,N,Y,19,112500.0,Working,...,Single / not married,House / apartment,-11057,-1853,1,1,1,0,Waiters/barmen staff,20.0
523723,523723,5105054,-1,-1,F,N,Y,19,112500.0,Working,...,Single / not married,House / apartment,-11057,-1853,1,1,1,0,Waiters/barmen staff,20.0

In [6]:
test_no_zeros = pd.read_pickle("model_evaluation/test.pkl")
test_no_zeros.drop(test_no_zeros[test_no_zeros["STATUS"] == 0].index, inplace=True)
test_no_zeros

,Unnamed: 0,ID,MONTHS_BALANCE,STATUS,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,...,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
513210,513210,5100075,-36,1,F,Y,Y,0,112500.0,Pensioner,...,Married,House / apartment,-21797,365243,1,0,0,0,NaN,2.0
532723,532723,5105565,-54,-1,M,N,Y,0,135000.0,Pensioner,...,Civil marriage,House / apartment,-23094,365243,1,0,1,0,NaN,2.0
486463,486463,5095815,-43,1,F,N,N,3,112500.0,Working,...,Married,Municipal apartment,-15447,-2470,1,1,0,0,Sales staff,5.0
291376,291376,5061068,-5,-1,M,Y,N,0,256500.0,Pensioner,...,Married,House / apartment,-21913,365243,1,0,1,0,NaN,2.0
314380,314380,5062123,-1,-1,F,N,Y,0,157500.0,Commercial associate,...,Separated,With parents,-19523,-259,1,0,0,0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594777,594777,5116236,-12,1,M,N,Y,0,126000.0,Commercial associate,...,Married,House / apartment,-15972,-1051,1,0,0,0,High skill tech staff,2.0
594681,594681,5116226,-34,1,M,Y,Y,0,238500.0,Pensioner,...,Married,Office apartment,-25152,365243,1,0,0,0,NaN,2.0
170764,170764,5038688,-26,-1,F,Y,N,0,240750.0,State servant,...,Civil marriage,With parents,-17693,-7778,1,0,0,0,Laborers,2.0
762655,762655,5149393,-1,1,F,N,N,1,135000.0,Commercial associate,...,Married,With parents,-13689,-1172,1,0,0,0,Sales staff,3.0
148678,148678,5033920,-32,-1,M,Y,Y,1,180000.0,Working,...,Married,House / apartment,-11608,-2430,1,0,0,0,Laborers,3.0

In [9]:
train_status_counts = train_no_zeros["STATUS"].value_counts()
test_status_counts = test_no_zeros["STATUS"].value_counts()
train_status_counts, test_status_counts

( 1    247116
 -1    218166
 -2      6581
 -6      1129
 -3       613
 -4       203
 -5       152
 Name: STATUS, dtype: int64,
  1    82420
 -1    72488
 -2     2166
 -6      398
 -3      188
 -4       83
 -5       62
 Name: STATUS, dtype: int64)

In [12]:
predictors = [
    "CODE_GENDER",
    "FLAG_OWN_CAR",
    "FLAG_OWN_REALTY",
    "CNT_CHILDREN",
    "AMT_INCOME_TOTAL",
    "NAME_INCOME_TYPE",
    "NAME_EDUCATION_TYPE",
    "NAME_FAMILY_STATUS",
    "NAME_HOUSING_TYPE",
    "DAYS_BIRTH",
    "DAYS_EMPLOYED",
    "FLAG_MOBIL",
    "FLAG_WORK_PHONE",
    "FLAG_PHONE",
    "FLAG_EMAIL",
    "OCCUPATION_TYPE",
    "CNT_FAM_MEMBERS"
]

import time

start = time.time()
cred_tree_no_zeros = DecisionTree(train_status_counts[-6], 0.8).fit(predictors, target="STATUS", data=train_no_zeros)
training_time = time.time() - start

print("\n", f"time to train: {training_time}", f"num nodes: {len(cred_tree_no_zeros.leaf_nodes_)}", sep="\n")

NameError: name 'predictors' is not defined

In [ ]:
for i, leaf_node_df in enumerate(cred_tree_no_zeros.leaf_nodes_):
    leaf_node_df.to_pickle(f"leaf_nodes_no_zeros_pkls/zeroless_node_{i}.pkl")

In [ ]:
by_ID = test_no_zeros.groupby("ID")
test_by_ID = pd.DataFrame([
    group.iloc[0, :]
    for name, group in by_ID
])
test_by_ID

In [ ]:
test_by_ID.set_index("ID", inplace=True)
test_by_ID

In [ ]:
cluster_preds = cred_tree_no_zeros.predict(test_by_ID)
cluster_preds

In [ ]:
cluster_preds_no_zeros.to_pickle("model_evaluation/cluster_preds_no_zeros.pkl")

In [ ]:

def calculate_pmf(df):
    pmf = pd.Series(0, index=[-6,-5,-4,-3,-2,-1,1])
    counts = df["STATUS"].value_counts()
    pmf[counts.index] = counts / df.shape[0]
    return pmf

pred_pmfs = pd.DataFrame(
    [
        calculate_pmf(cred_tree_no_zeros.leaf_nodes_[clust])
        for clust in cluster_preds_no_zeros.loc[:, 0]
    ],
    index=cluster_preds_no_zeros.index
)
actual_pmfs = by_ID.apply(calculate_pmf)

In [ ]:
pred_pmfs.shape, actual_pmfs.shape

In [ ]:
pred_pmfs.to_pickle("model_evaluation/pred_pmfs_no_zeros.pkl")
actual_pmfs.to_pickle("model_evaluation/actual_pmfs_no_zeros.pkl")

In [ ]:
pred_pmfs.index.equals(actual_pmfs.index)

In [ ]:
mean_abs_error = (pred_pmfs - actual_pmfs).abs().mean(axis=0)
mean_abs_error

In [ ]:
mean_abs_error